<h1>Here is the amount of coins you'd have if you were being efficient:</h1>
<p>You typed: $<%= @object %></p>

<h3>The coins you should have are:</h3>
<p>Quarters: <%= @quarters %></p>
<p>Dimes: <%= @dimes %></p>
<p>Nickels: <%= @nickels %></p>
<p>Pennies: <%= @pennies %></p>
